*.aux
*.log
*.out
*.xdv
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.dvi
*.pdf
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc
*.mtc1
*.slg
*.slo
*.sls
*.snm
*.nav
*.vrb
*.run.xml
*.bcf
*.lol
*.thm
*.soc
*.spl
